<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.alpo.myhome.dao.Mapper">
  
  <select id="getId" resultType="String">
    select id from ids where id = #{id}
  </select>
  <select id="getPw" resultType="String">
    select pw from ids where id = #{id}
  </select>
  <select id="getEmail" resultType="String">
    select email from ids where id = #{id}
  </select>
  
  <select id="getUser" resultType="kr.alpo.myhome.dao.User">
    select * from ids where id = #{id}

  </select>
  
  <select id="setUser" resultType="String">
    insert into ids(name, id, pw, phone, email, addr) value(#{name}, #{id}, #{pw}, 
    			#{phone}, #{email}, #{addr})
  </select>
  
  
  
</mapper>